<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/airpickerjs"></script>
  <script src="/airpickerlanguagejs"></script>
  <link rel="stylesheet" type="text/css" href="/airpickercss">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>
<body class="form-page">
  <div class="form create-event wrapper">
    <h1>Edit event "<%= title %>"</h1>

    <% if (typeof errors !== 'undefined') { 
      errors.forEach(function(err) { %>
        <div class="message"><%= err %></div>
    <% })} %> 
    
    <form method="POST" action="/submit-edit-event/ <%=id %>" id="edit-event">
      <label>Title</label>
      <input type="text" class="title" name="title" placeholder="Treniruote plente..." value="<%= title %>">
      <label>Type</label>
      <select class="type" name="type" selected="<%= type %>">>
        <option value="road">Road</option>
        <option value="mtb">MTB</option>
      </select>
      <label>Start date</label>
      <input type="text" class="datepicker-here" data-timepicker="true" data-language='en' autocomplete="off" name="start" placeholder="Date..." value="<%= startDate %>">
      <label>End date</label>
      <input type="text" class="datepicker-here" data-timepicker="true" data-language='en' autocomplete="off" name="end" placeholder="Date..." value="<%= endDate %>">
      <label>City</label>
      <input type="text" class="city" name="city" placeholder="Kaunas..." value="<%= city %>">
      <label>Start location</label>
      <input type="text" class="start_location" name="startLocation" placeholder="Pramonės pr. 8A, Kaunas..." value="<%= startLocation %>">
      <label>Level</label>
      <select class="level" name="level" selected="<%= level %>">
          <option value="beginner">Beginner</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
      </select>
      <label>Distance</label>
      <input type="text" class="distance" name="distance" placeholder="50..." value="<%= distance %>">
      <label>Speed</label>
      <input type="text" class="speed" name="speed" placeholder="30">
      <label>General information</label>
      <textarea style="resize: none;" class="general-info" rows="15" name="information" placeholder="We will be maintaining zone 3, so make sure to have plenty of water..."><%= generalInfo %></textarea>
      <input type="submit" class="edit-event-submit" value="Save changes">
    </form>
  </div>
</body>